# If you are using Docker to spin up MongoDB, then use port 27017.
MONGO_URI="mongodb+srv://harsh:harsh123@cluster0.oypby.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

PORT=7777
EMAIL=harshvaidya432004@gmail.com
EMAIL_PASSWORD=ejva ohip xgkc tnvu

# Onesignal 
KEY_ID=
APP_ID=
URL_FOR_DEEP_LINK="http://localhost:5173"


#cloudinary creadentials
CLOUD_NAME="da7ylciie",
API_KEY="harshji",
API_SECRET="nLDtMTzn-AgMwt58SASuEa6Rb6k"

REDIS_HOST=localhost
REDIS_PORT=6379